.find-files-container {
  width: 100%;
  input {
    width: 100%;
  }
  .file-and-folder-listing {
    text-align:left;
    .entry{
      cursor:pointer;
    }
  }
}

.recently-opened-files {
  text-align: left;
  font-size: 13px;

  hr {
    color: lightgray;
  }
}