@import "./variables.scss";
body{
  margin:0px;
}
.hide{
  display:none;
}
#find-files-dialog input {
  width:100%;
}
.find-files-container{
  width:100%;
}
.find-files-container input {
  width:100%;
}