@import "./variables.scss";
@import "./editor.scss";
@import "./find-files.scss";
@import "./set-project-root.scss";
@import "./swal.scss";
body{
  margin:0;
  // Prevent unnecessary yanking of the page to the left / extreme right when using the mac trackpad
  overflow-x:hidden;
  overflow-y:hidden;
}
.hidden{
  display:none;
}

.pull-left{
  text-align:left;
}