<div>
    <div class="find-files-container">
        <input type="text" placeholder="Search by file name"/>
    </div>
    <div class="recently-opened-files">
        <br/>
        Recently opened files
        <hr/>
    </div>
</div>