<div>
    <div class="find-files-container">
        <input type="text" placeholder="Search by file name"/>
        <div class="file-and-folder-listing">
            {{#each filesAndFolders}}
                    {{#if is_dir}}

                    {{else}}
                        <div class="entry" data-path="{{path}}">
                            <i class="fas fa-file"></i>{{name}}
                        </div>
                    {{/if}}
            {{/each}}
        </div>
    </div>
</div>