<div>
    <div class="find-files-container">
        <input type="text" placeholder="Search by file name"/>
        <div class="file-and-folder-listing">
            {{#each filesAndFolders}}
                {{#if is_dir}}
                    <i class="fas fa-folder"></i>
                    {{else}}
                    <i class="fas fa-file"></i>
                {{/if}}
                <div>{{path}}</div>
                <br/>
            {{/each}}
        </div>
    </div>
</div>