<div class="set-project-root">
    <div>Set Project Root</div>
    <div class="folder-list">
    <input type="text" class="search-by-folder-name" placeholder="Search by folder name"/>
        {{#each folders}}
            {{#if is_dir}}
                <div class="folder-name" data-folder-name="{{name}}" data-folder-path="{{path}}">
                    <a><i class="fas fa-folder"></i>&nbsp;{{name}}</a>
                </div>
            {{/if}}
        {{/each}}
    </div>
    <button class="btn-set-as-root">
        Set as root
    </button>
</div>